<!DOCTYPE html>
<html>
  <head>
    <title>RailsWikinimous</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="navbar-wagon">
    <!-- Logo -->
    <%= link_to "Wikinomics", articles_path%>
    <!-- Right Navigation -->
     <div class="navbar-wagon-right hidden-xs hidden-sm">
    <%= link_to "New Articles", new_article_path%>
  </div>


  </div>



    <%= yield %>
  </body>
</html>


